<!DOCTYPE html>
<html>
<head lang="en">
  <title>Search Bear</title>
  <!-- Bootstrap -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.0/handlebars.min.js"></script> 
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <!-- page layout -->
  <div class="container-fluid">

    <div class="row" id="bear_screen">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="bear_land">
        <header class="header col-xs-12 col-md-12">
          <h1>Search Bear <span>(beta)</span></h1>
          <ul id="header_list">
            <% if user_signed_in? %>
              <li class="btn btn-default">
                <%= link_to('logout', destroy_user_session_path, :method => :delete) %>
              </li>
            <% else %>
              <li class="btn btn-default" id="login_button">
                login
              </li>
            <% end %>
            <ul class="login_menu col-xs-8 col-sm-5 col-md-4">
              <li>
                <%= yield %>
              </li>
            </ul>
          </ul>
        </header>

        <div>
            <div class="bear_box col-xs-12 col-md-12" id="<% if current_user %><%= current_user.bear_id %><% else %><%= 'none' %><% end %>">
              <p>howdy howdy</p>
            </div>
          <li class="btn btn-default" id="open-search">
            <div><span class="glyphicon glyphicon-chevron-right"></span><span class="glyphicon glyphicon-list"></span>&#09;&#09;&#09;<span class="glyphicon glyphicon-chevron-left"></span><span class="glyphicon glyphicon-tree-conifer"></span></div>
          </li>
        </div>
        
        <div class="input-group" id="search-form">
          <input type="text" class="form-control" placeholder="Search for..." name="search">
          <span class="input-group-btn">
            <button class="btn btn-default glyphicon glyphicon-search" type="button" id="search_button"></button>
          </span>
        </div><!-- /input-group -->

        
      </div>
      <div id="bottom-tab-menu" class="container">
          <div class="tab-content">
            <div id="tab1" class="tab-pane fade in active clearfix">
              <div class="col-6-lg col-6-md col-6-sm col-6-xs">
                <h3>Data</h3>
                <div class="col-lg-12 col-md-12 col-12-sm col-12-xs" id="bear_stats">
                  <!-- <p>energy</p> -->
                  <div class="progress">
                    <div class="progress-bar" id="energy" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                      <span class="glyphicon glyphicon-flash"></span>
                    </div>
                  </div>
                  <!-- <p>happy</p> -->
                  <div class="progress">
                    <div class="progress-bar" id="happiness" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                      <span class="glyphicon glyphicon-heart"></span>
                    </div>
                  </div>
                  <!-- <p>hungry</p> -->
                  <div class="progress">
                    <div class="progress-bar" id="hunger" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                      <span class="glyphicon glyphicon-cutlery"></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-6-lg col-6-md col-6-sm col-6-xs">
                <h3>Food</h3>
                <div class="bar">
                  <button class="btn btn-default raise-happiness glyphicon glyphicon-heart">+</button>
                  <button class="btn btn-default raise-energy glyphicon glyphicon-flash">+</button>
                  <button class="btn btn-default raise-hunger food glyphicon glyphicon-apple">+</button>
                  <button class="btn btn-default raise-hunger glyphicon glyphicon-tint">+</button>
                </div>
              </div>
            </div>
            <div id="tab2" class="tab-pane fade">
              <h3>About</h3>
            </div>
          </div>
          <ul class="nav nav-pills">
            <li class="active">
              <a data-toggle="pill" href="#tab1">Chippy Data</a>
            </li>
            <li>
              <a data-toggle="pill" href="#tab2">About the Site</a>
            </li>
            <li>
              <a data-toggle="pill" href="/privacy">privacy</a>
            </li>
          </ul>
      </div>
    </div>
  </div>

  <nav id="menu" class="search_div">
      <div class="col-xs-12 col-sm-12 col-md-12" >
        
      </div>  
  </nav>

  <nav id="jPanelMenu-menu" class="container-fluid">
    <ul id="search_zone">
      <li class="search_item">
        <div class="search_box row">
          <div class="col-lg-9 col-md-9">
            <h2 class="search_title">
              Gardening tips - Better Homes and Gardens
            </h2>
            <p class="search_link">www.gardendesign.com</p>
          </div>
          <div class="col-lg-3 col-md-3">-></div>
        </div>
        <div class="search_dropdown">
          <p class="search_description">
            Create the perfect front yard and backyard landscapes with our gardening tips. We'll tell you about beautiful annual, perennial, bulb, and rose flowers, as well as ...
          </p>
        </div>
      </li>
    </ul>
  </nav>

  
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
</body>

</html>
